page-servicearea {
.searchbox{background: transparent; width: 100%; z-index: 999; background: rgba(256,256,256,0.5)}
.searchbox .searchbar{padding:0px;}
.searchbox .radiusinput .searchbar-search-icon{ display: none;visibility: hidden; }
.searchbox .radiusinput .searchbar-input{padding: 6px 10px;}

}