<ion-header >

  <ion-navbar color="darkblue">
    <ion-title>How it Works for Partner</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>


<div id="list">
  <h5>How It Works For Partner:</h5>
  <ul>

  </ul>
</div>

	<ion-grid *ngFor="let th of terms_hdr">
	
	<ion-item *ngIf="th.linetype=='h'">
		 <ion-label><li>{{th.hdr_desc}}</li></ion-label> 
	</ion-item>
	
		<ion-row *ngIf="th.linetype=='d'">
			<ion-col text-left>
				{{th.hdr_desc}}
			</ion-col>
		</ion-row>
	

 
</ion-grid>


</ion-content>

<ion-footer>
  <button ion-button full (click)="refresh_screen()">Back</button>
  

</ion-footer>
