page-scopedtl1 {

    ion-textarea{border: 1px solid #ccc;}
.header
{
    background: #042e53!important;
    color: #fff;
    line-height:18px; 
    font-size: 18px; 
    font-weight: bold;
}
.detail
{

    line-height:16px; 
    font-size: 15px;  
}
.but_11{    
               
               
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;margin: 10px 10px 0px;
    border-color: rgb(24, 22, 22); 
 
    border-width: .01em; 
    border-style:solid; 
   
}
}
