page-walletdetails {
.bg_top{background: #f3f3f3; padding: 10px;}
.wal{margin-top:35px;}
.grid{font-size: 18px;}
.grid p{font-size: 16px;}
.wal ion-icon{background: #ececec;
    border-radius: 50%;
    padding: 8px 9px;
    font-size: 21px; }
}

