page-details {
.content{background:#042e54;}
.scroll-content{ padding: 16px 50px;}
h2{color:#fff; font-size:16px;}
.item{padding: 0 10px; margin-bottom: 10px; border-radius: 30px;}
.list .item-block .item-inner{border-bottom: none;}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{border:none;box-shadow:none;}
.item ion-icon[item-left]{margin: 0}
.label{margin: 13px}
.text-input{margin: 5px 0px}
.button-round{padding: 2.3rem 2.6rem}
.sk_1{padding: 10px; color: #ffffff; font-size: 18px;}
}
