page-successpage {
	.mt-30{margin-top: 30px !important;}
h2{text-align: center;}
.checkmark{width: 100%; text-align: center;}
.checkmark ion-icon{font-size: 5em; color: #32db64}
.item{padding-left: 0; }
.item.item-block .item-inner{padding: 0 20px; border-top: 1px solid #dedede}
.label{margin: 0px;}
.mybtn{width: 40%; margin: 25px auto;}
}
