page-idproofs-address {
bg_but{background: #257bc8;
    padding: 0px 10px!important;}
p{background: #b4d2ec;    padding: 6px; line-height: 22px;     margin: 7px;}
	.nn_1{color: #000; text-align: center; display: block; padding-top: 8px;}
.grid img{border-radius: 5px; box-shadow: 0px 0px 2px #333333;}
.fir_1{    border: 1px solid #257bc8;
    background: #efeff0;
    border-radius: 5px;
    margin: 15px 0px; color: #257bc8;
    font-size: 45px;
    text-align: center;
    padding-top: 27px;}
}
