page-summary {
.content{background:#f6f6f6;}
.box{padding:10px; border-radius: 10px; border:2px solid #e5e5e5; background: #fff; margin-bottom: 10px; }
.box .grid{padding: 0}
ion-footer{background:#387ef5;}

.top_bg{background: #042e53!important;
    color: #fff;
    padding: 0px 10px!important;}
.grid{background: #ffffff; border-radius:5px;  margin-bottom: 5px;   box-shadow: 0px 0px 6px #ccc; padding: 5px;}

}
