page-termsinfoc {

.content{background:#f6f6f6;}
h6{font-weight: normal; margin: 10px 0px!important;}
.bg1{background: #042e54; color: #ffffff;    border-radius: 5px 5px 0px 0;}
.bg1 .item{background: transparent; padding-left: 0; color: #fff;}
.bg1 .item .radio[item-start]{margin: 0 10px;}
.bg1 .item.item-block .item-inner{border-bottom: none;}
.bg1 .label{margin: 0; color:#fff;}
.bg2{border: 1px solid #042e54;  border-radius: 0px 0px 5px 5px; background: #ffffff; margin-bottom: 15px;}


.checkbox-md-dark .checkbox-checked {
    border-color: #0078cf;
    background-color: #0078cf;
    }

    .checkbox-md {
  
    margin-bottom: -3px;
    margin-right: 5px;}

    ul{    margin:5px 0px;
    padding-left: 25px;}

   li{padding: 5px 0px;}


}
