page-extracharge {


    .but_11{    float: left;
        background: #042e54;
        color: #fff;
        padding: 2px;
        font-size: 12px;
        border-radius: 5px;margin: 10px 10px 0px;}

        .but_12{    float: left;
            background: #f2f3f5;
            color: rgb(11, 172, 5);
            padding: 2px;
            font-size: 12px;
            border-radius: 5px;margin: 10px 10px 0px;}
}
