page-service-location {
.searchbox{background: transparent; width: 100%; z-index: 999; background: rgba(256,256,256,0.5)}
.searchbox .searchbar{padding:0px;}
.searchbox .radiusinput .searchbar-search-icon{ display: none;visibility: hidden; }
.searchbox .radiusinput .searchbar-input{padding: 6px 10px;}

}

ion-loading .loading-wrapper{padding: 10px!important;background: none!important; box-shadow:none!important}