<ion-header >

  <ion-navbar color="darkblue">
    <ion-title>{{this.scatname}}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>

	<h6 text-center>{{this.scatnextscreendesc}}</h6>

	<ion-grid *ngFor="let cat of catinfo">
    <ion-row>
    <ion-col class="bg1" col-12>  
      <ion-list radio-group [(ngModel)]="subradios">
        <ion-item *ngIf="cat.scatselecttype=='r'">
          <ion-label>{{cat.scatname}}</ion-label>
          <ion-radio color="light" value="{{cat.id}}" item-start></ion-radio>
        </ion-item>
      </ion-list>

      
      <ion-item *ngIf="cat.scatselecttype=='c'">
    <ion-label>{{cat.scatname}}</ion-label>
    <ion-checkbox [(ngModel)]="subradios"  name="subradios"color="dark"></ion-checkbox>
  </ion-item>


</ion-col>
     <ion-col class="bg2" col-12 *ngIf="cat.scatpicture!=''">
       <img src="{{cat.scatpicture}}" style="width: 100%; height: 140px;"> 
     </ion-col> 
  </ion-row>
  <!-- <ion-row>
    <ion-col class="bg1" col-12>  
      <ion-item *ngIf="cat.scatselecttype=='r'">

    <ion-label>{{cat.scatname}}</ion-label>
    <ion-radio color="light" radio-group [(ngModel)]="subradios" name="subradios" (ionChange)="updateCucumber(cat.id)" value="{{cat.id}}" item-start></ion-radio>
  </ion-item>
   catinfo
   <ion-item *ngIf="cat.scatselecttype=='c'">
    <ion-label>{{cat.scatname}}</ion-label>
 <ion-checkbox [(ngModel)]="subcheckbox" (ionChange)="updateCucumber(cat.id)" name="{{cat.id}}" color="dark">  </ion-checkbox></ion-item>
</ion-col>
     <ion-col class="bg2" col-12>
     	 <img src="{{cat.scatpicture}}" style="width: 40px; height: 40px;"> 
     </ion-col> 
  </ion-row> -->



</ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full (click)="gotoNetScreen(this.endpoint,this.catid)">Next</button>
</ion-footer>
