page-serviceandrepair2 {

.content{background:#f6f6f6;}
h6{font-weight: normal; margin:5px 0px 15px 0px!important;}
.top_bg{background: #042e53!important;
    color: #fff;
    padding: 0px 10px!important;}
.grid{background: #ffffff; border-radius:8px;  margin-bottom: 15px;   box-shadow: 0px 0px 6px #ccc; padding: 10px;}
.grid ul{margin: 0px; padding: 0px 10px; }
.grid ul li{padding: 5px 0px;}
[col-4] b{line-height:18px; font-size: 13px; font-weight: bold;}
.nn_2{border: 1px solid #dcd7d7;     border-bottom: 0px;
   }
    .bor_bo{border-bottom: 1px solid #dcd7d7;    font-size: 16px;}
    .oprice{padding-left: 86px;}
    .rig_bor{border-right: 1px solid #dcd7d7}
 b{font-size: 16px;    line-height: 18px;    font-weight: normal;}
    .qty{border:1px solid #042e54; background: #ffffff; border-radius:5px; overflow: hidden; display: block;    margin: 0px 0px 0px 20px;}
.qty div{float: left; width: 33.3%; padding: 6px 0px;}
.cou_1{border-left: 1px solid #042e54;border-right: 1px solid #042e54; background: #042e54; color: #ffffff;    height: 32px;
    line-height: 22px;}

   .qty ion-icon {
   
    line-height: 20px;
}
.scatimge
{
	    /* max-width: 163%; */
    border: 0;
    position: relative;
    width: 352px;
    height: 126px;
}
}
