<ion-header>

  <ion-navbar color="darkblue">
  	<ion-buttons left>
   <button ion-button clear color="light" icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title>Closed/Cancelled</ion-title>
  </ion-navbar>
  <ion-toolbar color="light" class="tabstoolbar">
      <ion-grid>
		<ion-row>
			<!-- <ion-col (click)="goacceptedPage()">
				Accepted
			</ion-col> -->
			<ion-col (click)="gotodayPage()">
				Open Jobs
			</ion-col>
			<ion-col (click)="gotomorrowPage()">
				Complete Jobs
			</ion-col>
			<ion-col>
				Closed/Cancelled
			</ion-col>
		</ion-row>
	</ion-grid>
    </ion-toolbar>
</ion-header>


<ion-content>
<!-- <div padding-top text-center><small><b>Note:</b> Click on the Order Number to view project.</small></div> -->
<ion-grid class="table" padding-top>

				<ion-row class="bg_h1">
					<ion-col col-3>
						Scheduled On
					</ion-col>
					<ion-col col-2>
						Order No.
					</ion-col>
					<ion-col col-3>
						Order Desc
					</ion-col>
					<ion-col col-2>
						Status
					</ion-col>
					<ion-col col-2>
						
					</ion-col>
					
				</ion-row>

				
				<ion-row *ngFor="let cancel of canceljobs" class="tablerow">
					<ion-col col-3>
						{{cancel.order_est_sdttm}}
					</ion-col>
					<ion-col col-2>
						{{cancel.order_num}}
					</ion-col>
					<ion-col col-3>
						{{cancel.description | slice:0:30}}
					</ion-col>
					<ion-col col-2>
						{{cancel.status}}
					</ion-col>
					<ion-col col-2>
						<button style="padding: 5px; background-color: #488aff; color: #FFF; border-radius: 7px;line-height: 17px;font-size: 13px;" (click)="goviewproject(cancel.order_num)">View Project</button>
					</ion-col>
				</ion-row>
				<ion-row *ngIf="nval2==false">
					<ion-col col-12 style="text-align: center; color: red; font-weight: bold;">
						No Jobs Available
					</ion-col>
				</ion-row>
				
			
			




</ion-grid>


</ion-content>
