page-customercare {
	.header-md::after{background-image:none;}
	.customerbanner{background: url(../assets/img/customercare.png) bottom center no-repeat; height: 150px; background-size: cover;}
	.callbtn {color: #00A100; border:1px solid #00A100; padding: 5px 8px; border-radius: 50%; width: 40px;}
}
