page-viewagentdetails {
.up_img{    width: 100px;
    height: 100px;
    float: right;
    margin-top: -11px;}
 .row{border-bottom: 1px solid #ccc;    margin-top: 8px;
    padding-bottom: 8px}
	.big_img ,.big_img1{text-align: center;}
		.big_img img{width: auto; height:90px; margin-top: 5px;}
		.big_img1 img{width:80px; height: 80px; }

b{    font-size: 14px;
    font-weight: normal;
    color: #484848;}
.item{    border-bottom: 1px solid #ececec!important;}
}
