page-nextviewmapdetails {
p{border-bottom: 1px solid #cccccc; margin: 10px; padding-bottom: 5px; padding-top: 10px;font-size: 16px;}
ion-label{    white-space: inherit;}
.label{
    margin: 13px 8px 13px 12px;
}
a{font-weight: 500;}

.item {
     padding-left:0px; font-size: 16px;}

}
