page-photos-work {
.bg_but{background: #257bc8;
    padding: 0px 10px!important;}

    top_n ion-slides ion-slide button{text-transform: capitalize; font-size: 11px;margin: 12px 1px;}
.top_n ion-slides ion-slide button{background: #fff; border:1px solid #257bc8; color:#257bc8;   
 box-shadow: none;text-transform: capitalize; margin-top: 15px;}

.siz_1{font-size: 72px!important;}
.list .item-input:last-child 
{
    border-bottom: 1px solid #d2d2d2;
    width: 90%;
    border-radius: 50px;
    margin: 10px 15px;
    
}
.swiper-wrapper{margin:0px 5px;}
.label {
   margin: 0px 8px 2px 0px;
}
.login_label{font-size: 15px;color: #8a4c63;font-weight: bold;}

.item
{
    
    background-color: #d2d2d2;
}
.top_n .swiper-slide{    width: auto!important;}
.swiper-slide{margin-right:1px!important}  

.button-round {
    border-radius: 64px;
    padding: 0px 1.2rem;
}
p{color: #666666; padding: 10px 0px; font-size: 16px;}

.grid ion-icon{font-size: 56px; display: block; color: #257bc8;}
.mid_1{  color: #257bc8;  text-align: center;
    border: 1px solid #257bc8;
    border-radius: 5px;
    margin: 5px 15px;
    padding: 15px 5px 18px 5px; background: #efeff0;}

    h4{
    	font-size: 18px;
    text-align: center;
    margin: 0px;
    color: #676464;
    font-weight: normal;
    }
      span{text-align: center;display: block;}

}
