<ion-header>

  <ion-navbar color="darkblue">
    <ion-title>View Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-grid>
	<ion-row>
		<ion-col col-5><b>Order No</b></ion-col>
		<ion-col col-7>{{orderhdr?.order_num}}</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-5><b>Bid Requrd</b></ion-col>
		<ion-col col-7>{{orderhdr?.bid}}</ion-col>
	</ion-row>
	<ion-row *ngIf="(orderhdr?.startscreen=='Y') || (orderhdr?.startscreen=='y')">
		<ion-col col-5><b>Est Job Starting Dt &amp; Tm</b></ion-col>
		<ion-col col-7>{{orderhdr?.order_est_sdttm}}</ion-col>
	</ion-row>
	<ion-row *ngIf="(orderhdr?.endscreen=='Y') || (orderhdr?.endscreen=='y')">
		<ion-col col-5><b>Est Job End Dt &amp; Tm</b></ion-col>
		<ion-col col-7>{{orderhdr?.order_est_edttm}}</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-5><b>Company Price</b></ion-col>
		<ion-col col-7>{{orderhdr?.comp_price}}</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-5><b>Provider Price</b></ion-col>
		<ion-col col-7>{{orderhdr?.service_price}}</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-5><b>Lead Status</b></ion-col>
		<ion-col col-7>{{orderhdr?.leadstatus}}</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-5><b>Order Status</b></ion-col>
		<ion-col col-7>{{orderhdr?.orderstatus}}</ion-col>
	</ion-row>




	<!-- <ion-item *ngIf="flowcountno=='5'">
		  <ion-label>Delivery Date</ion-label>
		  <ion-datetime displayFormat="DD/MMMM/YYYY" [(ngModel)]="deliverydate" name="deliverydate" [max]="fdate"></ion-datetime>
	</ion-item>
	<ion-list *ngIf="flowcountno=='5'">
		  <ion-item>
		    <ion-label>Delivery Status</ion-label>
		    <ion-select [(ngModel)]="deliverystatus">
		      <ion-option value="P">Pending</ion-option>
		      <ion-option value="D">Delivery</ion-option>
		      
		    </ion-select>
		  </ion-item>
	</ion-list>
	<div *ngIf="flowcountno=='5'">
		<button ion-button color="light" (click)="completeJob(this.order_num)">Delivery</button>
	</div> -->
	


</ion-grid>

 <div padding><b>Note :- </b>If you want to change the Delivery Date, click below "Change Date" Button</div>
<ion-grid>

	<ion-row style="background: #042e54; color: #fff"> 
		<ion-col col-4>Item Desc</ion-col>
		<ion-col col-2>Qty</ion-col>
		<ion-col col-3>Company Price</ion-col>
		<ion-col col-3>Provider Price</ion-col>
	</ion-row>
<div class="ne_11" *ngFor="let ord of orderdtl">
	
	<ion-row >

		<ion-col col-4>{{ord.description}}</ion-col>
		<ion-col col-2>{{ord.Item_qty}}</ion-col>
		<ion-col col-3>{{ord.comp_item_price}}</ion-col>
		<ion-col col-3>{{ord.Item_price}}</ion-col>

		<ion-col col-6 text-center *ngIf="ord.flowcountno=='5'">
					Delivery Date : {{ord.delivery_date}}<br/>
					<div *ngIf="ord.delivery_status=='Delivered'">
						<button ion-button small>Change Date</button>
					</div>
					<div *ngIf="ord.delivery_status=='Pending'">
						<button ion-button small (click)="ChangStatus(this.order_num,ord.item_number,orderhdr?.catid)">Change Date</button>
					</div>	 
		</ion-col>

		<ion-col col-6 *ngIf="ord.flowcountno=='5'">
			Status : {{ord.delivery_status}}
	            <ion-list *ngIf="ord.delivery_status=='Pending'">
				  <ion-item>
				       <ion-label>Change Status</ion-label>
					   <ion-select [(ngModel)]="deliverystatus" (ionChange)='completeJob(this.order_num,ord.item_number)'>
					      <ion-option value="P">Pending</ion-option>
					      <ion-option value="D">Delivery</ion-option>
					   </ion-select>
				  </ion-item>
				</ion-list>
		</ion-col>
	</ion-row>
</div>
	

</ion-grid>

<div style="text-align: center;">
		<p *ngIf="orderhdr?.note_title!=''">{{orderhdr?.note_title}}</p>
	    <p *ngIf="orderhdr?.note_value!=''">{{orderhdr?.note_value}}</p>
	</div>

</ion-content>
