page-editcat {

    ion-input.aqua {
        background: rgb(221, 228, 228);
      }

      ion-textarea.aqua {
        background: rgb(221, 228, 228);
      }

      ion-toggle.aqua {
        background: rgb(221, 228, 228);
      }

      ion-select.aqua {
        background: rgb(221, 228, 228);
      }

      
     
 

.profile-banner{height: 200px; background: #4a8bfc; text-align: center; color: #fff; padding: 2px 0;}

.pro-pic{width:140px; height: 140px; border-radius: 10%;}
h2{font-weight: normal; font-size: 20px; margin-top: 0.5rem; margin-bottom: 0.5rem}
p{font-size: 15px; font-weight: normal;}
ion-list ion-icon{color: #c70b0b; font-size: 21px;}
.cl{clear: both;}
ion-list span.count{width: 21px; height: 18px; line-height: 18px; display: inline-block; font-size: 12px; text-align: center; background: #b3d3ec; border-radius: 50%}
ion-list .label{line-height: 18px; margin: 5px 10px;}
.item{padding-left: 1}
.bu_show{display:none !important;}

}
